<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="patient" class="com.spring.beanScope.Patient" scope="prototype">
		<property name="id" value="1111"></property>
		<property name="name" value="Ruhul"></property>
		<property name="nationalId" value="12345"></property>
		<property ref="address" name="address"></property>
	</bean>

	<bean id="address" class="com.spring.beanScope.Address">
		<property name="street" value="Panthapat"></property>
		<property name="zepcode" value="1200"></property>
	</bean>
</beans>
